[MASTER]

ignore==CVS,ui,tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        unused-import



[FORMAT]
max-line-length=80

[REFACTORING]
max-nested-blocks=2
max-statements=15


[DESIGN]

[VARIABLES]
    bad-names=i,j,k,foo,bar,baz

